[Unit]
Description=dlm control daemon
Requires=corosync.service sys-kernel-config.mount
After=corosync.service sys-kernel-config.mount

[Service]
OOMScoreAdjust=-1000
Type=notify
NotifyAccess=main
EnvironmentFile=/etc/sysconfig/dlm
ExecStartPre=/sbin/modprobe dlm 
ExecStart=/usr/sbin/dlm_controld --foreground $DLM_CONTROLD_OPTS
#ExecStopPost=/sbin/modprobe -r dlm

# If dlm_controld doesn't stop, there are active lockspaces.
# Killing it will just get the node fenced.
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

